<odoo>
    <menuitem name="BDS" id="bds_icon" web_icon="bds,static/src/image/bds.png" />

    <menuitem name="Chưa xài" id="not_use_menu" parent="bds_icon"  sequence="7"/>
    <!-- <menuitem name="BDS" id="bds_menu" parent="not_use_menu" action="full_bds_action" /> -->
    <menuitem name="Get Poster" id="getphoneposter__menu" parent="not_use_menu" action="bds.getphoneposter_action" />
    <menuitem name="images_menu" id="images_menu" parent="not_use_menu" action="bds.images_action" />
    <menuitem name="mycontact_menu" id="mycontact_menu" parent="not_use_menu" action="bds.mycontact_action" />
    <menuitem name="importcontact_menu" id="importcontact_menu" parent="not_use_menu" action="bds.importcontact_action" />            

    <menuitem name="Laptop" id="bds_menu_laptop" parent="bds_icon" action="bds.action_window_laptop"  sequence="2"/>


    <menuitem name="BDS Main" id="main_bds_menu" parent="bds_icon" action="main_bds_action"  sequence="2"/>
    <menuitem name="Fetch" id="fetch_menu" parent="bds_icon" action="bds.fetch_action"  sequence="1"/>
    <menuitem name="Poster" id="poster_menu" parent="bds_icon" action="bds.poster_action"  sequence="3"/>
    <menuitem name="Stuff" id="stuff_menu" parent="bds_icon" sequence="6" />
    <menuitem name="Schedule" id="schedule_menu" parent="bds_icon" action="base.ir_cron_act" sequence="5" />
	<menuitem name="Cron Fetch" id="cron_fetch_menu" parent="bds_icon" action="cronfetch_action"  sequence="5"/>
    <!-- <menuitem name="bds view" id="bds_bdsview_menu" parent="bds_icon" action="bds_bdsview_action" /> -->
    <!-- <menuitem name="bds view" id="bds_bdsview4_menu" parent="bds_icon" action="bds_bdsview4_action" /> -->

    <menuitem name="Error" id="error_menu1" parent="stuff_menu" action="bds.error_action" />
    <menuitem name="Quận" id="quan_menu" parent="stuff_menu" action="quan_action" />
    <menuitem name="Site Leech" id="siteleech_menu" parent="stuff_menu" action="siteleech_action" />
    <menuitem name="urlbds" id="url_menu" parent="stuff_menu" action="url_action" />

</odoo>